.threatList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.threatItem {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #00155c;
  padding: 10px;
  border-radius: 6px;
  border-left: 5px solid; /* Will be colored by probability */
}

.probability {
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  padding: 10px 2px;
  border-radius: 4px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.high {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.medium {
  border-color: #ffc107;
  color: #ffc107;
}

.low {
  border-color: #1affab;
  color: #1affab;
}

.threatInfo {
  display: flex;
  flex-direction: column;
}

.objects {
  font-weight: bold;
}

.time {
  font-size: 0.9rem;
  color: #a9c2ff;
}
